body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #336699;
  background-size: 5000% 5000%;
  background-repeat: no-repeat;
  animation: gradient 10s linear;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.logo {
  margin-top: -15px;
}